body {
    text-align: center;
}

h1, h2 {
    font-family: 'Slabo 27px', serif;
}

.ted_logo {
    font-family: Helvetica;
    color: #e62b1e;
    letter-spacing: -3px;
}

.stopAnimation, .startAnimation {
    cursor: pointer;
}

.stopAnimation {
    display: none;
}

#thematicDistribution .clearSelection {
    opacity: 0.1;
}

#thematicDistribution .clearSelection.active {
    opacity: 1;
    cursor: pointer;
}

#thematicDistribution rect {
    cursor: pointer;
}

#themeQuantity {
    margin-top: 20px;
}

#themeQuantity label {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}

#themeQuantity svg, #themeQuantity .options {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#themeQuantity .options {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #000;
    font-weight: bold;
}

#themeQuantity .labels {
    max-height: 400px;
    overflow: auto;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    margin-top: 10px;
}

#themeQuantity .label {
    cursor: pointer;
}

#themeQuantity .label .check {
    visibility: hidden;
    margin-right: 5px;
}

#themeQuantity .label.selected .check {
    visibility: visible;
}

.axis-label {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    font-weight: bold;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.tooltip {
    opacity: 0;
    position: absolute;
    background: #fff;
    padding: 5px;
    border: 1px solid #000;
    font-family: 'Slabo 27px', serif;
}

.tooltip .title {
    font-weight: bold;
}

.timeline .tick {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

.timeline .tick .selected {
    font-weight: bold;
}

#themeQuantity svg .legend-label {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    font-weight: bold;
}

#themeQuantity svg .tick {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

#themeQuantity svg .legend-remove {
    font-family: FontAwesome;
    cursor: pointer;
}

#favoriteThemes .content .element {
    cursor: pointer;
}
