body {
    text-align: center;
}

h1, h2 {
    font-family: 'Slabo 27px', serif;
}

.ted_logo {
    font-family: Helvetica;
    color: #e62b1e;
    letter-spacing: -3px;
}

#thematicDistribution i {
    cursor: pointer;
}

#thematicDistribution .stopAnimation {
    display: none;
}

#thematicDistribution rect {
    cursor: pointer;
}

#themeQuantityOverTime {
    display: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.timeline .tick {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

.timeline .tick .selected {
    font-weight: bold;
}

#themeQuantityOverTime svg .legend-label {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    font-weight: bold;
}

#themeQuantityOverTime svg .tick {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

#themeQuantityOverTime svg .legend-remove {
    font-family: FontAwesome;
    cursor: pointer;
}
